

.footer {
	height: 1205;
	.footer__head {
		height: 850px;
		background-image: url("./img/bgfooter.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		border-bottom: 3px #ab7444 solid;
		.head__transperent {
			height: 425px;
			font-family: "Roboto", sans-serif;

			div.col-lg-6:first-child {
				border-right: 3px #fff solid;
			}
			p {
				text-align: center;
				color: #fff;
				font-size: em(32);
				margin-top: 35px;
				margin-bottom: 50px;
				font-weight: bold;
			}
			ul {
				@include clearfix;
				color: #fff;
				padding-left: 70px;
				list-style-image: url("./img/check.png");
				li {
					margin-top: 24px;
					font-size: em(14);
					font-weight: bold;
				}
			}
		}
		.head__opacity {
 			height: 425px;
 			background-color: rgba(0, 0, 0, 0.3);
 			padding-top: 55px;
 			p {
 				padding-left: 125px;
 				color: #fff;
 				line-height: 20px;
 				font-family: "Roboto", sans-serif;
 			}
		}
	}
	.footer__bottom {
		height: 345px;
		background-color: #85a430;
		.row {
			div:nth-child(2) {
				ul {
					padding-left: 100px;
				}
			}
			div:nth-child(3) {
				ul {
					padding-left: 100px;
				}
			}
			ul {
				font-size: em(18);
				padding-top: 70px;
				li {
					margin-top: 20px;
					color: #fff;
					i {
						margin-right: 7px;
						color: #000;
					}
				}
			}
		}
		p {
			text-align: center;
			margin-top: 80px;
			color: #fff;
			font-size: em(18);
			font-family: "Roboto", sans-serif;
		}
	}
}
