.footerNiz {
  background-color: #85a430;
  height: 200px;
}
.footerMiddle {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 50%;
  width: 100%;
}
.footerImgMain {
  
  .huge.header {
    color: white;
  }

  padding-top: 1px;
  color: white;
  position: relative;
  background-image: url('../../../assets/footerImgMain.png');
  background-repeat: no-repeat;
  background-size:cover;
  height: 599px;
}
