.icon {
  display: flex;
  justify-content: center;
  // border: 1px solid #000;
  .iconWrapper {
    // border: 1px solid #000;
    display: flex;
    justify-content: center;
    width: 200px;
    border-bottom: 2px solid #333333;
    .iconImage{
      // border: 1px solid #000;
    }
  }
}
.wrapImg {
  border: 1px solid #000;
  height: 100px;
  width: 100px;
}
